p, h1, h2, h3, h4, h5, h6, li, th, td {
   color: white;
}

a {
    color: #245497;
}

.div-container {
    background-color: #63a3fb; 
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 50px;
    padding-bottom: 70px;
    box-sizing: border-box;
}